a {
    text-decoration: none;
}

.header-menu-item {
    color: #726E8D;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;

    border: 1px solid grey;
    border-radius: 30px;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;

    border-bottom: 1px solid #EBE8F4;


}

.header-name {
    color: #22202E;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-left: 80px;
}

.header-menu a {

    color: #726E8D;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;

    padding-right: 44px;
}

.header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu ul li {
    display: inline-block;
    margin-right: 10px;
}

.header-images {
    margin-right: 64px;
}

.header-images a {
    margin-right: 16px;
}

.main-header h1 {
    color: #2A254B;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;

    text-align: center;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    margin: 0 80px 0 80px;
    padding: 8px 24px;
}

.main-menu a {
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    text-decoration: none;
    padding: 12px 24px;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
}

.listing-item img {
    margin-bottom: 24px;
}

.main-p {
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.main-menu img {
    margin-left: 8px;
}

.main-listings {
    max-width: 100%;
    padding: 28px 80px 0 80px;
}

.container {
    width: 100%;
    max-width: 1440px;

}

.container-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 305px);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    grid-template-rows: 462px;
    column-gap: 20px;
    row-gap: 48px;

}

.main-bottom-image {
    width: 720px;
    height: 521px;

    background-image: url("../images/bottom-listing/Image-main.png");

    margin-bottom: 24px;
}

.main-listings a {
    text-decoration: none;
}

.container a {
    color: #2A254B;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0;


}
.container p {
    margin: 8px 0 0 0;
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.main-button {
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    padding: 16px 32px;
    text-align: center;
    margin: 48px 0 40px 0;
}

.main-bottom-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    max-height: 521px;
}

.container-2 {
    display: flex;


}

.invite {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.invite h2 {
    color: #2A254B;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 71px 0 0 49px;
}

.invite p {
    width: 470px;
    color: #2A254B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    margin: 21px 0 0 49px;
}

.button {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    text-decoration: none;
}

.button-container button {
    border: none;
    background-color: #2A254B;
    padding: 16px 32px;

}

.button-container {
    position: relative;
    top: 200px;
    left: 20%;

}

.footer-container {
    height: 100%;
    background-color: #2A254B;
}

.top-footer {
    display: flex;
    width: 100%;

}

.top-footer a {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;
}

.top-footer ul {
    padding: 0;
    margin: 58px;

}

.top-footer li {
    list-style: none;
    margin-top: 12px;
}

.footer-container h3 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0 auto;
}

.footer-menu {
    padding: 0;
    margin-left: 82px;
}

.footer-categories {
    margin-left: 100px;
}

.footer-info {
    margin-left: 131px;
}

.footer-image {
    background-image: url("../images/footer-map/map.png");

    width: 642px;
    height: 195px;

    margin: 58px 0 0 130px;
}

.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    width: 90%;
    height: 68px;
    border-top: 1px solid #4E4D93;

}

.bottom-footer p {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.footer-share a {
    width: 24px;
    height: 24px;

    margin-right: 24px;
}

.footer-logo-1 {
    width: 24px;
    height: 24px;
    background-image: url("../images/footer-logos/logo-linkedin.svg");
    fill: #FFF;
    background-blend-mode: multiply;
}







